.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    grid-gap:  25px;
    grid-auto-rows: 250px;
    
}

.image-list img {
    width: 100%;
}
.segment {
    text-align: center;
}
.compact-menu {
    text-align: center;
}
.zoom div:hover {
    transition:   all 0.7s;
    transform: scale(1.4);
    cursor: zoom-in;
}